//Миксины, возможность делать шаблоны кода и переиспользовать его, возможно добавлять аргументы

@mixin style-link($color)
    display: inline-block
    text-transform: uppercase
    text-decoration: none
    color: $color